dialog{
    height: 300px;
    width: 300px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#wrapinput{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
h1{
    text-align: center;
}
dialog{
    border: 2px solid grey;
    border-radius: 10px;
}
#wrapradio{
    display: flex;
    gap:100px
}
#buttons{
    display: flex;
    justify-content: space-between;
}
#buttonmain{
    margin-top: 30px;
}
button{
    height: max-content;
    width:max-content;
    border: 3px solid;
    border-radius: 10px;

}
button:hover{
    text-decoration: underline;
    color: purple;
}

label{
    font-weight: bold;
}
.books{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#book1,#book0,#book2{
    border: 2px solid ;
    height: 400px;
    width: 400px;
}
p{
    font-size: large;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;

}
.last3{
    display: flex;
    flex-direction: row;
    width: 300px; 
    justify-content: space-between;
    height: 50px;
}
li{
    list-style-type: none;
}
body{
margin: 0;
}